/* Inserta tu CSS aqui */
.contenedor{
	width: 772px
	height:426px;
	background-color: #8cb27c;
	position: relative;
}

.interno{
	width: 740px;
	height: 426;
	border: 1px solid white;
	position:absolute;
	margin: 15px;
}

.arco{
	width: 100px;
	height: 170px;
	border-top:1px solid white;
	border-bottom:1px solid white;
	position: absolute;
}

.derecho{
	right: 0;
	top:100px;
	border-left: 1px solid white;
}

.izquierdo{
	top:100px;
	border-right: 1px solid white;
	left: 0;
}

.circulo{
	width: 180px;
	height: 180px;
	border-radius:50%;
	border:1px solid white;
	position: absolute;
	left: 280px;
	top:100px;
}
.bola{
	position: relative;
	
}

.uno{
	left: 105px;
	top:90px;
}

.dos{
	left: 46px;
	top:380px;
}
.tres¨{
	bottom: 130px;
	right: 105px;
}